figure {
    margin: 0;
}

header a {
    color: inherit;
    text-decoration:none;
}

body {
    background-color: var(--light-gray-1);
}

p, li, figcaption {
    font-family: "Poppins", serif;
}

h1, h2, h3 {
    color: var(--black);
    font-family: "Inder", sans-serif;
    font-weight: 400;
}

h1 {
    font-size: var(--heading-1);
}

h2 {
    font-size: var(--heading-2);
}

h3 {
    font-size: var(--heading-3)
}

a {
    color: var(--black);
    text-decoration:underline;
}

article {
    margin-left: 0.9375rem;
    gap:1.25rem;
}