.footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: var(--dark-gray-1);
    margin : 0px;
    overflow:hidden;
}

.footer__col--logo::after, .footer__col--social::after, .footer__col--contact::after {
    content: "";
    display: block;
    width: 20.1875rem;
    height: 2px;
    background: var(--dark-gray-2);
    opacity: 0.8;
    border-radius: 2px;
    padding-top:0rem;
}

.footer__col--logo__container{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:2.515625rem;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
}

.footer__col--logo {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: center;
}

.footer__lang-img {
    width :3.83625rem;
}

.footer__logo {
    width :3.83625rem;
}

.footer__col--social {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer__social-icon {
    width:2.25rem;
}

.footer__social-container {
    display:flex;
    align-items:center;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    gap:2.5rem;
}

.footer__title {
    display:flex;
    justify-content:center;
    color: var(--light-gray-1);
    font-family: "Inder", sans-serif;
    font-size: var(--body);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom:0.875rem;
    margin:0rem;
}

.footer__text {
    color: var(--light-gray-1);
    width: 353px;
    font-family: Poppins;
    font-size: var(--small-text);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom:0.4375rem;
    margin:0rem;
}

.footer__contact-container, .footer__legal-container {
    padding-top:1.25rem;
    padding-bottom:0.8125rem;
}