.article__title {
    width: 22.6875rem;
    padding-bottom:0.625rem;
    padding-top:0.625rem;
    margin:0rem;
}

.article__text {
    width: 22.6875rem;
    color: var(--black);
    font-size: var(--body-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0rem;
    padding-bottom:0.625rem;
    padding-top:0.625rem;
}

.article__figure {
    padding-bottom:0.625rem;
    padding-top:0.625rem;
}

.article__figure-caption{
    color: var(--light-gray-3, #969696);
    text-align: center;
    font-family: Poppins;
    font-size: var(--small-text, 12px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.article__video {
    width: 22.6875rem;
}

.article__byline {
    margin: 0rem;
    font-size: 0.92rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6875rem;
    padding:0rem;;
    padding-top:0.625rem;
    padding-left:0.4375rem;
}

.article__byline-author {
    font-weight: 500;
    font-size: var(--body-2);
    letter-spacing: -0.01em;
    color: var(--black);
    margin:0rem;
    padding-top:0.8125rem;
}

.article__byline-author span { /* Seulement "Nathan Batista Balanche" */
    color: var(--purple-3);
}

.article__byline-date {
    color: var(--light-gray-3);
    font-family: "Poppins", serif;
    font-size: var(--body-2);
    font-weight: 400;
    letter-spacing: 0.3px;
    padding-left: 0.4375rem;
    padding-bottom:0.75rem;
}

.article__byline-author {
    padding-left: 0rem;
}

.article__red {
    color: var(--red);
}