.hero__title {
    width:22.6875rem;
    padding-left:0.9375rem;
    color: var(--black);
    font-size: var(--heading-1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0rem;
    padding-top:1.0625rem;
    padding-bottom:1.25rem;
}

.hero__text {
    margin:0rem;
    width: 22.6875rem;
    color: var(--black);
    font-size: var(--body);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:0.9375rem;
    padding-bottom:0.675rem;
}

.hero__img {
    width:24.5625rem;
    height:14.875rem;
}